@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Arimo:ital,wght@0,400..700;1,400..700&family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&display=swap');
[data-theme="light"] { --color-bg: #ffffff; --color-fg: #222; }
[data-theme="dark"] { --color-bg: #121212; --color-fg: #eee; }

* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  font-family: "Arimo", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-fg);
  line-height: 1.6;
  overflow-x: hidden;
}

header, main, footer {
  margin: auto;
  padding: 1rem 0;
}

header {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.text-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-image: url(img/fondo-1.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex-direction: column;
  text-align: center;
}

.fade-in {
  opacity: 8px;
  transform: translateY(10px);
  transition: opacity 1s ease-in, transform 1s ease-in;
  margin: 0.5rem 0;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 1.5s ease-in, transform 1s ease-in;
}

h1 span {
  font-family: "Bebas Neue", sans-serif;
  font-size: 10rem;
  color: #FFEB6F;
  display: block;
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

h1 span.visible {
  opacity: 1;
  transform: translateY(0);
}


h2 {
  font-family: "Arimo", sans-serif;
  font-size: 2rem;
  color: #FFEB6F;
  font-weight: bold;
  padding-left: 15rem;
  padding-right: 15rem;
}

.reveal {
  height: 100vh;
  width: 100%;
}

.scroll-section {
  height: 100vh;
  background: url('fondo-1.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container h1 span {
  display: block;
  font-size: 7.5rem;
  color: #FFEB6F;
  font-family: "Bebas Neue", sans-serif;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
  margin: 0;
  line-height: 1;
  letter-spacing: 5px;
}

.text-container h1 span.visible {
  opacity: 1;
  transform: translateY(0);
}



h3 {
    margin-top: 2rem;
    border-bottom: 2px solid #555;
    padding-bottom: 0.5rem;
    font-family: "Arimo", sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
    font-size: 1.8rem;
}

.franchise-section {
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100vh;
  padding: 5vh 10vw;
  background: #000000;
}

.franchise-container {
  max-width: 100%;
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  position: relative;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0 5vw;
  text-align: center;
  transition: all 1s ease;
  opacity: 0;
  transform: translateX(0);
  
}

.franchise-container.from-left.hidden {
  transform: translateX(-100px);
}

.franchise-container.from-right.hidden {
  transform: translateX(100px);
}

.franchise-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.franchise-text {
  color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 40%;
}

.franchise-spiderman {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-harrypotter {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-fastfurious {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-batman {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-starwars {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-transformers {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-indianajones {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-lordoftherings {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-missionimpossible {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

.franchise-missionimpossible {
  background-image: url('peliculas/mi-1.jpg');
  background-position: right center;
  flex-direction: row-reverse;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    color: gray;
    border-top: 1px solid #ccc;
    margin-top: 3rem;
}